## Домашнее задание к лекции 2.5 «Инструменты для оперативной работы с данными»

### Задача №1
С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:

In [251]:
import os
import pandas as pd
current_dir = os.getcwd()
data_dir = os.path.join(current_dir,'name')

In [252]:
test1950 = pd.read_csv('names\yob1950.txt', names = ['name', 'sex', 'count'])
test1950.head()

       name sex  count
0     Linda   F  80431
1      Mary   F  65481
2  Patricia   F  47945
3   Barbara   F  41552
4     Susan   F  38017

In [253]:
def make_dataframe(list_of_years):
    df = pd.read_csv('names\yob'+str(list_of_years[0]) + '.txt', names = ['name', 'sex', 'count'])
    if len(list_of_years) == 1:
        return df
    for year in list_of_years:
        filename = 'names\yob'+str(year)+ '.txt'
        df2 = pd.read_csv(filename, names = ['name', 'sex', 'count'])
        df = pd.concat([df, df2])
    return df

In [254]:
# проверка работы функции конкатенации датафреймов
make_dataframe([1941, 1942, 1943, 1944 ,1945]).head(3)

       name sex  count
0      Mary   F  58040
1   Barbara   F  39538
2  Patricia   F  36901

In [255]:
def count_top3(list_of_years):
    df  = make_dataframe(list_of_years)
    df_top = df.groupby('name').sum()
    df_top = df_top.sort_values(['count'], ascending = False).reset_index()
    top3 = []
    for i in range (3):
        top3.append(df_top.iloc[i,0])
    return top3
#     for i in range(3):
#         top3.append(df_top.iloc[i,1])
#     return top3

In [256]:
count_top3([1880])

['John', 'William', 'Mary']

In [257]:
count_top3([1900, 1950, 2000])

['John', 'James', 'Mary']

### Задача №2
С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.

In [258]:
def count_dynamics(list_of_years):
    """возвращаем динамику изменения колличества имен в разрезе полов"""
    
    female = []
    male = []
    for year in list_of_years:
        tmp_df  = make_dataframe([year])
        tmp_df = tmp_df.groupby('sex').sum().reset_index()
        f = tmp_df.iloc[0,1]
        m = tmp_df.iloc[1,1]
        female.append(f)
        male.append(m)
    dynamics = {}
    dynamics['F'] = female
    dynamics['M'] = male
    return dynamics

In [259]:
count_dynamics([1900, 1950, 2000])

{'F': [299798, 1713065, 1815295], 'M': [150480, 1790437, 1963202]}